body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
}

.left-section {
    border-right: 1px solid #ccc;
}

.right-section {
    padding-left: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

    .btn:hover {
        background-color: #0056b3;
    }

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password {
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
}

    .forgot-password:hover {
        text-decoration: underline;
    }

.advertisement {
    margin-top: 20px;
    text-align: center;
}

    .advertisement img {
        max-width: 100%;
        height: auto;
    }
