@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Điều Hướng</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="nav-header">
        <nav class="main-nav">
            <ul class="menu">
                <li><a href="#">Giày Nike <span class="badge new">New</span></a></li>
                <li><a href="#">Giày Adidas <span class="badge sale">Sale</span></a></li>
                <li><a href="#">Giày Lacoste <span class="badge new">New</span></a></li>
                <li><a href="#">Giày Puma <span class="badge sale">Sale</span></a></li>
                <li><a href="#">Giày Asics <span class="badge new">New</span></a></li>
                <li><a href="#">Giày Thể Thao</a></li>
                <li><a href="#" class="sale-link">SALE</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>


