@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang bán giày Nike</title>
    <link rel="stylesheet" href="~/Content/ProductTrungBai.css">
</head>
<body>


    <h1 class="page-title">Siêu Sale Giày Nike</h1>

    <div class="products-section">
        <h2 class="new-products-title">Sản phẩm mới nhất</h2>
        <section class="new-products">
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE REVOLUTION 7 NAM - ĐEN CAM.jpg"  alt="GIÀY NIKE REVOLUTION 7 NAM - ĐEN CAM" class="product-image">
                <p>
                    GIÀY NIKE REVOLUTION 7 NAM - ĐEN CAM
                </p>
                <p class="original-price">Giá gốc: <span class="line-through">1.950.000₫</span></p>
                <div class="discount-percentage">Giảm 13% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.690.000₫ VNĐ</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE COURT VISION LOW NAM - XANH DƯƠNG.jpg"  alt="GIÀY NIKE COURT VISION LOW NAM - XANH DƯƠNG" class="product-image">
                <p>GIÀY NIKE COURT VISION LOW NAM - XANH DƯƠNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2,500,000 VNĐ</span></p>
                <div class="discount-percentage">Giảm 24% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1,890,000 VNĐ</span></p>

            </div>
            <!-- Các sản phẩm mẫu bổ sung -->
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG.jpg"  alt="GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG" class="product-image">
                <p>GIÀY NIKE AIR MAX EXCEE NỮ - HỒNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2,950,000 VNĐ</span></p>
                <div class="discount-percentage">Giảm 19% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.390.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG.jpg"  alt="GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG" class="product-image">
                <p>GIÀY NIKE AIR MAX EXCEE NỮ - TRẮNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.950.000₫</span></p>
                <div class="discount-percentage">Giảm 22% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.290.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU.jpg"  alt="GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU" class="product-image">
                <p>GIÀY NIKE GRANDSTAND 2 NAM - XÁM NÂU</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.830.000₫</span></p>
                <div class="discount-percentage">Giảm 12% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.430.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NỮ - HỒNG.jpg"  alt="GIÀY NIKE PROMINA NỮ - HỒNG" class="product-image">
                <p>GIÀY NIKE PROMINA NỮ - HỒNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.400.000₫</span></p>
                <div class="discount-percentage">Giảm 17% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NAM - TRẮNG ĐEN.jpg"  alt="GIÀY NIKE PROMINA NAM - TRẮNG ĐEN" class="product-image">
                <p>GIÀY NIKE PROMINA NAM - TRẮNG ĐEN</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.400.000₫</span></p>
                <div class="discount-percentage">Giảm 17% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NAM - ĐEN TRẮNG.jpg" alt="GIÀY NIKE PROMINA NAM - ĐEN TRẮNG" class="product-image">
                <p>GIÀY NIKE PROMINA NAM - ĐEN TRẮNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.400.000₫</span></p>
                <div class="discount-percentage">Giảm 17% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE DOWNSHIFTER 13 NỮ - XANH NGỌC.jpg"  alt="GIÀY NIKE DOWNSHIFTER 13 NỮ - XANH NGỌC" class="product-image">
                <p>GIÀY NIKE DOWNSHIFTER 13 NỮ - XANH NGỌC</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.300.000₫</span></p>
                <div class="discount-percentage">Giảm 13% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.990.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Nike/GIÀY NIKE PROMINA NAM - TRẮNG ĐEN.jpg"  class="product-image">
                <p>GIÀY NIKE PROMINA NAM - TRẮNG ĐEN</p>
                <p class="original-price">Giá gốc: <span class="line-through">1.950.000₫</span></p>
                <div class="discount-percentage">Giảm 13% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.690.000₫</span></p>
            </div>
        </section>
    </div>
</body>
</html>
