@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang bán giày Nike</title>
    <link rel="stylesheet" href="~/Content/ProductTrungBai.css">
</head>
<body>


    <h1 class="page-title">Siêu Sale Giày Adidas</h1>

    <div class="products-section">
        <h2 class="new-products-title">Sản phẩm mới nhất</h2>
        <section class="new-products">
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS LITE RACER REBOLD NAM - NAVY TRẮNG.jpg"  alt="GIÀY ADIDAS LITE RACER REBOLD NAM - NAVY TRẮNG" class="product-image">
                <p>
                    GIÀY ADIDAS LITE RACER REBOLD NAM - NAVY TRẮNG
                </p>
                <p class="original-price">Giá gốc: <span class="line-through">1.800.000₫</span></p>
                <div class="discount-percentage">Giảm 28% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.290.000₫ VNĐ</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS LITE RACER REBOLD NAM - XÁM.jpg" alt="GIÀY ADIDAS LITE RACER REBOLD NAM - XÁM" class="product-image">
                <p>GIÀY ADIDAS LITE RACER REBOLD NAM - XÁM</p>
                <p class="original-price">Giá gốc: <span class="line-through">1.800.000₫</span></p>
                <div class="discount-percentage">Giảm 28% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.290.000₫ VNĐ</span></p>

            </div>
            <!-- Các sản phẩm mẫu bổ sung -->
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS LITE RACER CLN 2.0 NAM - XANH NAVY.jpg" alt="GIÀY ADIDAS LITE RACER CLN 2.0 NAM - XANH NAVY" class="product-image">
                <p>GIÀY ADIDAS LITE RACER CLN 2.0 NAM - XANH NAVY</p>
                <p class="original-price">Giá gốc: <span class="line-through">1.600.000₫</span></p>
                <div class="discount-percentage">Giảm 19% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.390.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GRAND COURT SE NAM - ĐEN TRẮNG.jpg" alt="GIÀY ADIDAS GRAND COURT SE NAM - ĐEN TRẮNG" class="product-image">
                <p>GIÀY ADIDAS GRAND COURT SE NAM - ĐEN TRẮNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                <div class="discount-percentage">Giảm 26% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.490.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ.jpg" alt="GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ" class="product-image">
                <p>GIÀY ADIDAS ADVANCOURT BASE NAM NỮ - TRẮNG XANH LÁ</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                <div class="discount-percentage">Giảm 21% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.590.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GRAND COURT BASE 2.0 NAM - TRẮNG ĐEN.jpg" alt="GIÀY ADIDAS GRAND COURT BASE 2.0 NAM - TRẮNG ĐEN" class="product-image">
                <p>GIÀY ADIDAS GRAND COURT BASE 2.0 NAM - TRẮNG ĐEN</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                <div class="discount-percentage">Giảm 21% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.590.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GRAND COURT BASE 2.0 NỮ - TRẮNG HỒNG.jpg" alt="GIÀY ADIDAS GRAND COURT BASE 2.0 NỮ - TRẮNG HỒNG" class="product-image">
                <p>GIÀY ADIDAS GRAND COURT BASE 2.0 NỮ - TRẮNG HỒNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                <div class="discount-percentage">Giảm 21% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.590.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GRAND COURT BASE 2.0 NAM NỮ - TRẮNG.jpg" alt="GIÀY ADIDAS GRAND COURT BASE 2.0 NAM NỮ - TRẮNG" class="product-image">
                <p>GIÀY ADIDAS GRAND COURT BASE 2.0 NAM NỮ - TRẮNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.000.000₫</span></p>
                <div class="discount-percentage">Giảm 21% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.590.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GALAXY 7 NAM - TRẮNG XÁM.jpg" alt="GIÀY ADIDAS GALAXY 7 NAM - TRẮNG XÁM" class="product-image">
                <p>GIÀY ADIDAS GALAXY 7 NAM - TRẮNG XÁM</p>
                <p class="original-price">Giá gốc: <span class="line-through">1.800.000₫</span></p>
                <div class="discount-percentage">Giảm 6% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.690.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Adidas/GIÀY ADIDAS GALAXY 7 NAM - ĐEN TRẮNG.jpg" alt="GIÀY ADIDAS GALAXY 7 NAM - ĐEN TRẮNG" class="product-image">
                <p>GIÀY ADIDAS GALAXY 7 NAM - ĐEN TRẮNG</p>
                <p class="original-price">Giá gốc: <span class="line-through">1.800.000₫</span></p>
                <div class="discount-percentage">Giảm 6% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">1.690.000₫</span></p>
            </div>
        </section>
    </div>
</body>
</html>
