@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang bán giày Nike</title>
    <link rel="stylesheet" href="~/Content/ProductTrungBai.css">
</head>
<body>


    <h1 class="page-title">Siêu Sale Giày Lacoste</h1>

    <div class="products-section">
        <h2 class="new-products-title">Sản phẩm mới nhất</h2>
        <section class="new-products">
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE LINESET NAM - TRẮNG XANH.jpg" alt="GIÀY LACOSTE LINESET NAM - TRẮNG XANH" class="product-image">
                <p>
                    GIÀY LACOSTE LINESET NAM - TRẮNG XANH
                </p>
                <p class="original-price">Giá gốc: <span class="line-through">3.150.000₫</span></p>
                <div class="discount-percentage">Giảm 27% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.290.000₫ VNĐ</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN.jpg" alt="GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN" class="product-image">
                <p>GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG ĐEN</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value"></span>2.890.000₫ </p>

            </div>
            <!-- Các sản phẩm mẫu bổ sung -->
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN.jpg" alt="GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN" class="product-image">
                <p>GIÀY LACOSTE T-CLIP VELCRO 223 NAM - ĐEN</p>
                <p class="original-price">Giá gốc: <span class="line-through"></span>3.850.000₫</p>
                <div class="discount-percentage">Giảm 28% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.790.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH.jpg" alt=GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH" class="product-image">
                <p>GIÀY LACOSTE CARNABY PRO CGR 124 NAM - TRẮNG XANH</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG XANH.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG XANH" class="product-image">
                <p>GIÀY LACOSTE L001 124 NAM - TRẮNG XANH</p>
                <p class="original-price">Giá gốc: <span class="line-through">2.890.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY" class="product-image">
                <p>GIÀY LACOSTE L001 124 NAM - TRẮNG NAVY</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU" class="product-image">
                <p>GIÀY LACOSTE L001 124 NAM - TRẮNG NÂU</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - TRẮNG ĐỎ.jpg" alt="GIÀY LACOSTE L001 124 NAM - TRẮNG ĐỎ" class="product-image">
                <p>GIÀY LACOSTE L001 124 NAM - TRẮNG ĐỎ</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 25% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE LINESHOT 124 NAM - NÂU NHẠT.jpg" alt="GIÀY LACOSTE LINESHOT 124 NAM - NÂU NHẠT" class="product-image">
                <p>GIÀY LACOSTE LINESHOT 124 NAM - NÂU NHẠT</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.700.000₫</span></p>
                <div class="discount-percentage">Giảm 27% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.690.000₫</span></p>
            </div>
            <div class="product-item">
                <div class="labels">
                    <div class="label new-arrival">HÀNG MỚI VỀ</div>
                    <div class="label sale">SIÊU SALE</div>
                </div>
                <img src="~/Content/IMG/Lacoste/GIÀY LACOSTE L001 124 NAM - BE XÁM.jpg" alt="GIÀY LACOSTE L001 124 NAM - BE XÁM" class="product-image">
                <p>GIÀY LACOSTE L001 124 NAM - BE XÁM</p>
                <p class="original-price">Giá gốc: <span class="line-through">3.850.000₫</span></p>
                <div class="discount-percentage">Giảm 13% </div>
                <p class="current-price">Giá hiện tại: <span class="current-price-value">2.890.000₫</span></p>
            </div>
        </section>
    </div>
</body>
</html>
